@use "../../abstract/mixins";
@use "../../abstract/variable" as var;

header {
    background-color: var.$primarycolor;
}

#navbar {
    @include mixins.flex ($justify: space-between);
    padding: 2rem;

    div {

        a {
            @include mixins.flex ();
            font-size: 24px;
            @include mixins.hover();
            color: black;
            
        }
        img {
            width: 64px;
            margin: 10px;
        }
    }

    nav {
        ul {
            @include mixins.flex ();

            li {
                padding: 0 1rem;

                a {
                    display: block;
                    color: black;
                    font-weight: 700;
                    font-size: 24px;

                    @include mixins.hover ();
                }
            }
            .trait {
                border-right: 1px solid black;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    #navbar {
        flex-direction: column;

        div {
            margin-bottom: 2rem;
        }
    }
}
@media screen and (max-width: 600px) {
    #navbar {
        flex-direction: column;

        nav {
            ul {
                flex-direction: column;

                .trait {
                    border: none;
                }
            }
        }
    }
}