@use "variable" as var;

@mixin flex ($direction : row, $justify : center, $align : center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin hover ($fontsize: 32px) {

    transition: all 300ms;

    &:hover {
        color: var.$accentcolor;
        font-size: $fontsize;
    }
}